<link href='http://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>
<div class="buttons">
    <div class="button_main_page">
        <input type="button" id="main_button" value="main page">
    </div>
    <div class="button_new_game">
        <input type="button" id="game_button" value="game">
    </div>
</div>
<div id="game_wrapper">
        <div class="container" id="container">
            <input type="button" id="play_game" value="play">
            <input type="button" id="pause" value="pause">
            <input type="button" id="save" value="save">
            <input type="button" id="load" value="load">
            <div class="wrapper-lives-score">
                <div class="score">score</div>
                <div id="scoreCount">0</div>
                <div class="lives">lives</div>
                <div id="lifeCount"></div>
            </div>

            <div id=player></div>
            <div class="floor"></div>
            <div class="info-message"></dev>
        </div>
</div>
<script src="src/main.js"></script>
<script src="src/change_router.js"></script>
<script src="src/localStorage.js"></script>


