<div class="buttons">
    <div class="button_main_page">
        <input type="button" id="records" value="records">
    </div>
    <div class="button_new_game">
        <input type="button" id="game_button" value="game">
    </div>
</div>
<div class="game">
    <div class="game_tips">
        <h1>Space invaders game tips</h1>
        <h4>
            Use your left and right arrow keys to move left and right; use your space bar to fire in the all-time classic Space Invaders.
        </h4>
    </div>
</div>
<script src="src/change_router.js"></script>