@media (max-width: 1024px) and (min-width: 420px ) {
    /*стили фона, кнопок и т.д.*/
    body {
        background-color: #484746;
    }
    .game_name {
        color: snow;
    }
    .buttons {
        width: 100%;

    }
    #main_button {
        width: 80%;
        height: 40px;
        margin: 0 10%;
        background-color: #242424;
        font-size: 1.78rem;
        color: snow;
    }

    #game_button {
        width: 80%;
        height: 40px;
        margin: 0 10%;
        background-color: #242424;
        font-size: 1.78rem;
        color: snow;
    }

    #records {
        width: 80%;
        height: 40px;
        margin: 0 10%;
        background-color: #242424;
        font-size: 1.78rem;
        color: snow;
    }

    h4 {
        font-size: 1.78rem;
        color: snow;
        text-align: center;
    }

    h1 {
        font-size: 2rem;
        color: snow;
        text-align: center;
    }

    /*стили самого игрового поля*/
    .wrapper {
        position: relative;
    }
    #game_wrapper {
        width: 100%;
    }

    #game {
        width: 100%;
        margin: 0;
    }

    .container {
        background-color: black;
        height: 600px;
        width: 100%;
        margin: 0 auto;
        position: relative;

    }

    .wrapper-lives-score {
        display: flex;
        width: 200px;
        margin: 0 auto;
        justify-content: space-between;
    }

    .score {
        color: white;
        font-size: 1.0rem;
    }

    .lives {
        color: white;
        font-size: 1.0rem;
    }

    #lifeCount {
        color: white;
        font-size: 1.0rem;
    }

    #scoreCount {
        color: white;
        font-size: 1.0rem;
    }

    .floor {
        background-color: rgba(102, 255, 10, 1);
        width: 100%;
        height: 3px;
        position: absolute;
        bottom: 2.500em;
    }

    #player {
        background: url(images/invaders.png) 3.625em 2.313em;
        width: 1.313em;
        height: 1.375em;
        position: absolute;
    }
    .explosionPlayer {
        background: url(images/images.jpg) 218px 208px;
        width: 28px;
        height: 31px;
        position: absolute;
        opacity: 0;
        animation: explosion-player-move  0.5s linear backwards ;
    }

    @keyframes explosion-player-move {
        from {
            background: url(images/images.jpg) 159px 208px;
        }
        1% {
            background: url(images/images.jpg) 100px 208px;
        }
        6% {
            background: url(images/images.jpg) 100px 208px;
        }
        7% {
            background: url(images/images.jpg) 43px 208px;
        }
        12% {
            background: url(images/images.jpg) 43px 208px;
        }
        13% {
            background: url(images/images.jpg) 217px 167px;
        }
        18% {
            background: url(images/images.jpg) 217px 167px;
        }
        19% {
            background: url(images/images.jpg) 160px 167px;
        }
        24% {
            background: url(images/images.jpg) 160px 167px;
        }
        25% {
            background: url(images/images.jpg) 100px 167px;
        }
        30% {
            background: url(images/images.jpg) 100px 167px;
        }
        31% {
            background: url(images/images.jpg) 42px 167px;
        }
        36% {
            background: url(images/images.jpg) 42px 167px;
        }
        37% {
            background: url(images/images.jpg) 216px 124px;
        }
        42% {
            background: url(images/images.jpg) 216px 124px;
        }
        43% {
            background: url(images/images.jpg) 158px 122px;
        }
        48% {
            background: url(images/images.jpg) 158px 122px;
        }
        49% {
            background: url(images/images.jpg) 102px 122px;
        }
        54% {
            background: url(images/images.jpg) 102px 122px;
        }
        55% {
            background: url(images/images.jpg) 43px 122px;
        }
        60% {
            background: url(images/images.jpg) 43px 122px;
        }
        61% {
            background: url(images/images.jpg) 217px 80px;
        }
        66% {
            background: url(images/images.jpg) 217px 80px;
        }
        67% {
            background: url(images/images.jpg) 158px 80px;
        }
        72% {
            background: url(images/images.jpg) 158px 80px;
        }
        73% {
            background: url(images/images.jpg) 101px 80px;
        }
        78% {
            background: url(images/images.jpg) 101px 80px;
        }
        79% {
            background: url(images/images.jpg) 43px 80px;
        }
        84% {
            background: url(images/images.jpg) 43px 80px;
        }
        85% {
            background: url(images/images.jpg) 450px 32px;
        }
        90% {
            background: url(images/images.jpg) 450px 32px;
        }
        91% {
            background: url(images/images.jpg) 390px 34px;
        }
        96% {
            background: url(images/images.jpg) 390px 34px;
        }
        97% {
            background: url(images/images.jpg) 334px 34px;
        }
        to {
            background: url(images/images.jpg) 334px 34px;
        }
        0%   {opacity: 0;}
        25%  {opacity: 1;}
        99%  {opacity: 1;}
        100% {opacity: 0;}
    }


    /*стили снаряда*/
    .shell {
        width: 3px;
        height: 10px;
        position: absolute;
        background-color: #46a546;
        visibility: hidden;
    }

    .explosion {
        background: url(images/iJqew.png) 122px 192px;
        width: 34px;
        height: 25px;
        position: absolute;
        opacity: 0;
        animation: explosion-enemy 0.2s;
    }

    @keyframes explosion-enemy {
        0%   {opacity: 0;}
        25%  {opacity: 1;}
        50%  {opacity: 1;}
        100% {opacity: 0;}
    }

    /*стили бомбы*/
    .bomb {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        background-color: red;
        visibility: hidden;
        z-index: 100;
    }

    /*стили про врагов*/
    .enemyBlue {
        background: url(images/invaders.png) 362px 64px;
        width: 24px;
        height: 18px;
        position: absolute;
        animation: change_enemyBlue  1s  infinite reverse;
    }

    @keyframes change_enemyBlue {
        from {background: url(images/invaders.png) 362px 64px;}
        49% {background: url(images/invaders.png) 362px 64px;}
        50% {background: url(images/invaders.png) 360px 47px;}
        to {background: url(images/invaders.png) 360px 47px;}
        from {width: 24px;}
        49% {width: 24px;}
        50% {width: 22px;}
        to {width: 22px;}
    }

    .enemyRose {
        background: url(images/invaders.png) 218px 79px;
        width: 16px;
        height: 15px;
        position: absolute;
        animation: change_enemyRose  1s  infinite reverse;
    }

    @keyframes change_enemyRose {
        from {background: url(images/invaders.png) 218px 79px;}
        49% {background: url(images/invaders.png) 218px 79px;}
        50% {background: url(images/invaders.png) 218px 64px;}
        to {background: url(images/invaders.png) 218px 64px;}
    }

    .enemyGreen {
        background: url(images/invaders.png) 202px 64px;
        width: 24px;
        height: 15px;
        position: absolute;
        animation: change_enemyGreen  1s  infinite reverse;
    }
    @keyframes change_enemyGreen {
        from {background: url(images/invaders.png) 202px 64px;}
        49% {background: url(images/invaders.png) 202px 64px;}
        50% {background: url(images/invaders.png) 202px 48px;}
        to {background: url(images/invaders.png) 202px 48px;}
    }
}


