<div class="buttons">
    <div class="button_main_page">
        <input type="button" id="main_button" value="main page">
    </div>
</div>
<div class="records-list">

</div>
<script src="src/change_router.js"></script>
<script src="src/records.js"></script>